BasedOnStyle: LLVM

Standard: c++17

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Allman

PointerAlignment: Left

SpaceBeforeParens: ControlStatements

IndentCaseLabels: true

SortIncludes: true

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never

PenaltyReturnTypeOnItsOwnLine: 1000
